.profile{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-right: 15px;
    padding-left: 255px;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
}
.profile-info{
    text-align: center;
    align-items: center;
    padding: 15px;
    width: 30% !important;
}
.card{
    width: 70%;
    height: 100%;
}
.tabs {
    width: 80%;
    border-radius: 4px;
}

.tab {
    margin: 0 0 -1px;
    padding: 20px 25px;
    color: gray;
    font-weight: 700;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background: #209cee;
    color: white !important;
    border: 1px solid #fff;
}
.profile-info img{
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
}