
.container{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.profile-info{
    text-align: center;
    align-items: center;
    padding: 15px;
    width: 30% !important;
}
.card{
    width: 70%;
    height: 100%;
    overflow: hidden;
    word-break: break-word;
}


.react-tabs__tab--selected {
    background: #209cee;
    color: white !important;
    border: 1px solid #fff;
}
.profile-info img{
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
}
.card-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-item:not(:last-of-type){
    margin-bottom: 15px;
}
@media (min-width: 1200px){
    .container{
        max-width: 1280px;
    }
}