.bloc-tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    justify-content: start;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background: white;
}
.tabs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.tab{
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 30px 70px;
    font-weight: 600;

}
.active-tab{
    position: relative;
    color: #007cff;
}
.active-tab:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15em;
    background: #007cff;
}
.tabs-content{
    padding: 0 50px;
    width: 100%;
}
.tab-content{
    display: none;
    width: 100%;
}
.active-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #0e74b2;
}
.tabs-items{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.tab-item{
    display: flex;
    justify-content: space-between;
}
.tab-item input, textarea{
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 70%;
    padding: 10px;
    resize: none;
}
.tab-item input[type='file']{
    display: none;
}
.tab-item{
    margin-bottom: 20px;
}
.tab-content-active .profile-name{
    border-bottom: 1px solid #ddd;
}
.left-side{
    color: #0e74b2;
}
.upload-avatar{
    display: flex;
    flex-direction: column;
}
.upload-avatar label{
    text-align: center;
    cursor: pointer;
    padding: 5px;
    background: #0e74b2;
    color: white;
    margin-bottom: 0;
}
.photo{
    justify-content: flex-start;
    gap: 200px;
}
.upload-avatar ion-icon{
    font-size: 24px;
}
.upload-avatar button{
    background: red;
    color: white;
    border: none;
    padding: 5px 0;
}
.submit{
    border: none;
    background: #0e74b2;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
    align-self: center;
}
.pass-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.pass{
    width: 100% !important;
    margin-bottom: 10px;
}
